body {
  background-color: rgb(246, 243, 243);
}
header {
  height: 50px;
  display: flex;
}

nav {
  width: 180px;

  ul {
    display: flex;
    color: $mycolorheader;
  }
  li {
    padding-right: 50px;
  }
}

header {
  @include myheader;
  & > a {
    @include header-a;
  }

  nav {
    @include mynav;
  }
}

// section - 1

.container {
  @include mycontainer;
}
.trending {
  @include trending;
}

.s-1 {
  @include goflex;
  max-width: 1170px;
  & p {
    @include img-p;
  }
}

// section-2

.s-2 {
  @include goflex;
  margin-top: 60px;
  .hpn-now {
    padding-bottom: 40px;
  }
}

.card-wrapper {
  @include mycontainer;
  background-color: $mycolor2;
}

.card-wrapper-2 {
  @include mycontainer;
  display: flex;
  justify-content: space-between;
}
.c1-img {
  padding-bottom: 40px;
  background-color: $mycolor2;
}

.c2-img {
  padding-top: 80px;
  padding-left: 30px;
}

.lorem {
  width: 300px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  & a {
    color: $mycolor2;
    padding-bottom: 7px;
  }

  .foot-a {
    @include foot-a;
  }
  .logo-2 {
    @include logo-2;
  }
}

.footer-end {
  @include footer-end;
}
